html, body {
    height: 100%;
}

// Select2
.select2-container--bootstrap {
    height: 36.4px;
    line-height: 16px;
}

// Home - Searchbar
#searchbar {
    max-width: 700px;

    #searchbarInput {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    } 
}

// Home - Summaries - Card image
.summaryImg {
    height: 150px;
    background-size: cover;
    background-position: top center;
}

// Nav - Vertical separator
.navSeparator {
    display: none;
}

@include media-breakpoint-up(sm) {

    // Nav - Vertical separator
    .navSeparator {
        display: inline-block;
    }
}

// Search - Search filters
$filterBtnWidth: 3.4rem;
#searchFilters {

    .float-left, .float-right {
        width: 100%;
    }

    .float-left .col-md-3 {
        
    }
}

@include media-breakpoint-up(md) {

    // Search - Search filters
    #searchFilters {

        .float-left {
            width: calc(100% - #{$filterBtnWidth});
        }
    
        .float-right {
            width: $filterBtnWidth;
        }
    }
}

// Errors - List
.alert__list {
    padding-left: 1em;
}

// Login - Wrapper
.login__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

// Login - Form
.login__form {
    width: 40%;
    min-width: 300px;

    img, h1 {
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
}