html, body {
    height: 100%;
}

// Select2
.select2-container--bootstrap {
    height: 36.4px;
    line-height: 16px;
}

// Home - Searchbar
#searchbar {
    max-width: 700px;

    #searchbarInput {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    } 
}

// Home - Summaries - Card image
.summaryImg {
    height: 150px;
    background-size: cover;
    background-position: top center;
}

// Nav - Vertical separator
.navSeparator {
    display: none;
}

@include media-breakpoint-up(sm) {

    // Nav - Vertical separator
    .navSeparator {
        display: inline-block;
    }
}

.logout {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85em;
    line-height: 1.9em;
    padding-right: 0 !important;
}

// Search - Search filters
$filterBtnWidth: 3.4rem;
#searchFilters {

    .float-left, .float-right {
        width: 100%;
    }

    .float-left .col-md-3 {
        
    }
}

@include media-breakpoint-up(md) {

    // Search - Search filters
    #searchFilters {

        .float-left {
            width: calc(100% - #{$filterBtnWidth});
        }
    
        .float-right {
            width: $filterBtnWidth;
        }
    }
}

// Errors - List
.alert__list {
    padding-left: 1em;
}

// Login - Wrapper
.login__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

// Login - Form
.login__form {
    width: 40%;
    min-width: 300px;

    img, h1 {
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
}

// Summary list - pagination
.pagination {
    
    li {
        @extend .ml-1;

        a,a:hover {
            @extend .btn;
            @extend .btn-outline-secondary;
        }
    }

    .disabled {
        span,span:hover {
            @extend .btn;
            @extend .btn-outline-secondary;
            @extend .disabled;
        }
    }
}

// Show - pdf preview
#pdfPreview {
    height: 24.0rem;
}

// Show - summary details
#summaryDetails {
    @extend .my-5;
}

// Show - title
.pageTitle {
    @extend .mt-5;
    @extend .mb-3;
    float: none;
}

// Show - title buttons
.titleBtns {
    float: none;
    @extend .my-3;
}

@include media-breakpoint-up(md) {

    #pdfPreview {
        height: 35.0rem;
    }

    #summaryDetails {
        margin: 0 !important;
    }

    .titleBtns {
        float: right;
        margin: 0 !important;
    }

    .pageTitle {
        float: left;
        margin: 0 !important;
    }
}