// Home - Searchbar
#searchbar {
    max-width: 700px;

    #searchbarInput {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    } 
}

// Home - Recent Summaries - Card image
.recentSummaryImg {
    height: 150px;
    background-size: cover;
    background-position: top center;
}

// Nav - Vertical separator
.navSeparator {
    display: none;
}

@include media-breakpoint-up(sm) {

    // Nav - Vertical separator
    .navSeparator {
        display: inline-block;
    }
}